# MongoDB Atlas Configuration
VITE_MONGODB_URI=mongodb+srv://your-username:your-password@your-cluster.mongodb.net/skillshare?retryWrites=true&w=majority
VITE_MONGODB_DB=skillshare

# Firebase Configuration (keep for authentication)
VITE_FIREBASE_API_KEY=AIzaSyBv5MpzuKHjyDVlbE53THuBvjsefroOUEA
VITE_FIREBASE_AUTH_DOMAIN=knoweachother-ba559.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=knoweachother-ba559
VITE_FIREBASE_STORAGE_BUCKET=knoweachother-ba559.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=419270503667
VITE_FIREBASE_APP_ID=1:419270503667:web:98029aa8d9c30b42f69b86
